# .gitignore

# OS file 
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# C++/Build
build/
*.o
*.out
*.exe

# Virtual environments
code/myenv312/

# Data
data/
data/*.npy
data/*.zip
data/*.tar.gz

# Report
*.aux
*.log

# Other
*.swp

# Environment
.env

# Benchmark output directories
code/benchmarks/*_strongscaling/
code/benchmarks_baseline/*.data*
code/benchmarks_improved/*.data*
